@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .editor
    {
        border:solid 1px #ccc;
        min-height:450px;
        max-width:1360px;
        @apply bg-gray-700 text-white p-10 m-4 rounded-lg;
    }

    .sample-toolbar
    {
        border:solid 1px #ddd;
        background:#f4f4f4;
        @apply p-2 m-4 rounded-lg;
    }

    .sample-toolbar > span
    {
    cursor:pointer;
    }

    .sample-toolbar > span:hover
    {
        text-decoration:underline;
    }
}